<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.defcon.sortDescriptor</key>
	<array>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>alphabetical</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>category</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>unicode</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>script</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>suffix</string>
		</dict>
		<dict>
			<key>allowPseudoUnicode</key>
			<true/>
			<key>ascending</key>
			<true/>
			<key>type</key>
			<string>decompositionBase</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.Axes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Weight</string>
			<key>Tag</key>
			<string>wght</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>D859F21F-613F-4399-B720-06948C8E9CCB</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>1000</integer>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>g.alt</string>
		<string>g.alt.connected</string>
		<string>g.connected</string>
		<string>r.swash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>hyphen</string>
		<string>comma</string>
		<string>period</string>
		<string>space</string>
		<string>newGlyph</string>
		<string>o.black</string>
	</array>
</dict>
</plist>
